body{
  background-color:white;
}

.button {
  background-color: #e7e5e5;
  text-align: center;
  display:inline;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.button.buttonProfilePicture{
  position:absolute;
  top: 0;
  right: 2%;
  height: 50px;
  width: 300px;
  border-radius: 0%;
  transform: translateY(80%);

}


.playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 50%;
  position: relative;
  left: 25%;
  top: -30px; 
  overflow-x: auto;
  white-space: nowrap;
  transform: translateY(200%);
}
.playlistButton {
  width: 300%;
  height: 200px;
  padding: 46px;
  margin: 25px 10px 25px 0px;
  border: 3px solid #ccc;
  border-radius: 20%;
  border-width: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.DJs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 50%;
  position: relative;
  left: 25%;
  top: -30px; 
  overflow-x: auto;
  white-space: nowrap;
  transform: translateY(250%);
}
.DJButton {
  width: 300%;
  height: 200px;
  padding: 46px;
  margin: 25px 10px 25px 0px;
  border: 3px solid #ccc;
  border-radius: 100%;
  border-width: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.searchBar {
  display: flex;

  align-items: center;
  height: 20vh;
}
.searchBar input {
  text-align: center;
  width: 22%;
  height: 20%;
  transform: translateY(-1300%);
}

.userPreferedGenre {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 50px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 3px solid;
  border-color: #5B584F;
  transform: translateY(-1500%);
}
.userPreferedGenreBox {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 250px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 2px solid;
  transform: translateY(-360%);
}

.recommendedPlaylist {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 50px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 3px solid;
  right: 100%;
  transform: translateY(-1650%);
}
.recommendedDJs {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 50px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 3px solid ;
  transform: translateY(-1200%);
}


.plusButton {
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color:grey;
  padding: 12px;
  left: 64%;
  transform: translateY(760%);
}
.plusButton .plusHorizontal,
.plusButton .plusVertical {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
}
.plusButton .plusVertical {
  position: relative;
  bottom: 2px;
  transform: rotate(90deg);
}

.minusButton{
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color:grey;
  padding: 12px;
  left: 64%;
  transform: translateY(760%);
}
.minusHorizontal{
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
}

.frontBackandPPButtons button:hover {
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25);
}
.playlist button:hover{
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25);
}
.DJs button:hover{
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25);
}