body{
  background-color:#F2D4AE;
}

.button {
  background-color: #F28B30;
  text-align: center;
  display:inline;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-color: #A6450D;
  /*position: fixed;*/
}
.button.buttonProfilePicture{
  /*position:absolute;*/
  position:fixed;
  top: 0;
  right: 2%;
  height: 50px;
  width: 300px;
  border-radius: 0%;
  border-color: #A6450D;
  transform: translateY(80%);
}

.songsList{
  /*position: fixed;
  top:150px;
  */
  position:relative;
  left:80px;
  top:-1450px;
  /*top:-1450px;*/
}


.playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 50%;
  position: relative;
  left: 25%;
  top: -30px; 
  overflow-x: auto;
  white-space: nowrap;
  transform: translateY(200%);
}
.playlistButton {
  width: 300%;
  height: 200px;
  padding: 46px;
  margin: 25px 10px 25px 0px;
  border: 3px solid;
  border-radius: 20%;
  border-width: medium;
  background-color: #F28B30;
  border-color: #A6450D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.playlistAudio{
  transform: translateY(-2500%);
}
#playlistAudio1{
  width: 22%;
}

.DJs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 50%;
  position: relative;
  left: 25%;
  top: -30px; 
  overflow-x: auto;
  white-space: nowrap;
  transform: translateY(250%);
}
.DJButton {
  width: 300%;
  height: 200px;
  padding: 46px;
  margin: 25px 10px 25px 0px;
  border: 3px solid;
  background-color: #F28B30;
  border-color: #A6450D;
  border-radius: 100%;
  border-width: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.searchBar {
  display: flex;
  align-items: center;
  height: 20vh;
}
.searchBar input {
  text-align: center;
  width: 22%;
  height: 20%;
  background-color: #F28B30;
  transform: translateY(-1300%);
}

.userPreferedGenre {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 50px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 3px solid;
  border-color: #A6450D;
  transform: translateY(-1500%);
}
.userPreferedGenreBox {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 250px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 2px solid;
  border-color: #A6450D;
  transform: translateY(-360%);
}

.recommendedPlaylist {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 50px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 3px solid;
  border-color: #A6450D;
  right: 100%;
  transform: translateY(-1650%);
}
.recommendedDJs {
  text-align: center;
  font-size: 30px;
  width: 52%;
  height: 50px;
  margin: 5vh auto;
  margin-top: 10vh;
  border: 3px solid;
  border-color: #A6450D;
  transform: translateY(-1200%);
}


.plusButton {
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color:#F28B30;
  padding: 12px;
  left: 64%;
  transform: translateY(760%);
}
.plusButton .plusHorizontal,
.plusButton .plusVertical {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
}
.plusButton .plusVertical {
  position: relative;
  bottom: 2px;
  transform: rotate(90deg);
}

.minusButton{
  position: relative;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color:#F28B30;
  border-color: #A6450D;
  padding: 12px;
  left: 64%;
  transform: translateY(760%);
}
.minusHorizontal{
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-color: #A6450D;
  pointer-events: none;
}

.frontBackandPPButtons button:hover {
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25);
}
.playlist button:hover{
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25);
}
.DJs button:hover{
  box-shadow: 1px 10px 10px rgba(0,0,0,0.25);
}



.dropbtn {
  position:fixed;
  background-color: #F28B30;
  top: 0;
  right: 2%;
  height: 50px;
  width: 300px;
  border-radius: 0%;
  border-color: #A6450D;
  transform: translateY(80%);
  /*left:1350px;
  right: 350px;
  top:-660px*/
}

.dropbtn:hover, .dropbtn:focus {
  box-shadow: 1px 1px 10px rgba(239, 226, 232, 0.8);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #F28B30;
  min-width: 160px;
  width: 300px;
  height: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position:fixed;
  right: 33px;
  top: 90px;
  /*left: 1325px;
  right: 350px;
  top: -655px;*/
}

.dropdown-content a {
  color: black;
  height: 62.5px;
  text-align: center;
  font-size: large;
  /* display: flex;
  align-items: center; */
  line-height: 62.5px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}